<div class="container">

    <div class="card">
        <app-post-card [id]="id"></app-post-card>
        <div class="no-margin row">
            <div class="col-1"></div>
            <div class="card internal post-comment col-11">
                <div class="row">
                    <div class="col-6">
                        <label>Name</label>
                        <input>
                    </div>
                    <div class="col-6">
                        <label>Email</label>
                        <input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Comment</label>
                        <textarea></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment">
            <div class="row">
                <div class="col-1"></div>
                <div class="comments col-11">
                    <div class="d-flex justify-content-between">
                        <h6>@Name</h6>
                        <span>12-Jan'23 12:00:00 PM</span>
                    </div>
                    <hr>
                    <div class="comment-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nisi iste
                        magni officia deleniti quisquam tempore, delectus eveniet corporis sequi molestiae magnam ad
                        quod iusto aut omnis reiciendis velit nihil?
                    </div>
                </div>
            </div>
        </div>
        <div class="comment">
            <div class="row">
                <div class="col-1"></div>
                <div class="comments col-11">
                    <div class="d-flex justify-content-between">
                        <h6>@Name</h6>
                        <span>12-Jan'23 12:00:00 PM</span>
                    </div>
                    <hr>
                    <div class="comment-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nisi iste
                        magni officia deleniti quisquam tempore, delectus eveniet corporis sequi molestiae magnam ad
                        quod iusto aut omnis reiciendis velit nihil?
                    </div>
                </div>
            </div>
        </div>
        <div class="comment">
            <div class="row">
                <div class="col-1"></div>
                <div class="comments col-11">
                    <div class="d-flex justify-content-between">
                        <h6>@Name</h6>
                        <span>12-Jan'23 12:00:00 PM</span>
                    </div>
                    <hr>
                    <div class="comment-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nisi iste
                        magni officia deleniti quisquam tempore, delectus eveniet corporis sequi molestiae magnam ad
                        quod iusto aut omnis reiciendis velit nihil?
                    </div>
                </div>
            </div>
        </div>
        <div class="comment">
            <div class="row">
                <div class="col-1"></div>
                <div class="comments col-11">
                    <div class="d-flex justify-content-between">
                        <h6>@Name</h6>
                        <span>12-Jan'23 12:00:00 PM</span>
                    </div>
                    <hr>
                    <div class="comment-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nisi iste
                        magni officia deleniti quisquam tempore, delectus eveniet corporis sequi molestiae magnam ad
                        quod iusto aut omnis reiciendis velit nihil?
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>