<div class="card internal post">
    <div class="row">
        <h5 style="font-weight:bold"> {{ title }} </h5>
        <span> {{ postedTIme }} </span>
    </div>
    <hr>
    <div class="row">
        <div class="post">
            <p style="text-align: justify" (click)="gotoFullView(id)"> {{ mainContentView }} </p>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <div class="">
            <h6>137 Like</h6>
        </div>
        <div *ngIf="!fullPostsView" class="" (click)="gotoFullView(id)">
            Comments
        </div>
        <div *ngIf="!fullPostsView" class="" (click)="gotoFullView(id)">
            Read full article
        </div>
        <div *ngIf="fullPostsView" class="">
            Share
        </div>
    </div>
</div>