#page-container {
    position: relative;
    min-height: 100vh;
}
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

header {
    background-image: url("./../assets/images/Header.jpg");
    background-size: cover;
    width: 100%;
    background-position-y: -80px;
    background-repeat: no-repeat;
    min-height: 450px;
    .center {
        color: #fff;
        text-align: center;
        font-weight: 700;
        padding-top: 100px;
    }
}

.container {  
    padding-top: 10px;
    h2 {
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        white-space: nowrap;
    }
    .menu {
        list-style-type: none;
        color: #fff;
        display: inline-flex;
        font-size: 15px;
        margin-left: 24px;
        margin-top: 12px;
        align-self: center;
        ul:hover {
            color: #222;
            cursor: pointer;
            transition: 0.4s ease-in-out;
        }
        @media only screen and (max-width: 999px) {
            position: absolute;
            right: -280px;
            top: 64px;
            width: 280px;
            display: none;
            text-align: left;
            margin: 0;
            padding: 10px 0 10px 0;
            background-color: rgb(17, 70, 68);
        }
    }
    .menuClass {
        display: block;
        right: 0;
        transition: 0.4s ease-in-out;
    }
    .menu_icon {
        display: none;
        position: relative;
        right: -280px;
        top: 9px;
        float: right;
        cursor: pointer;
        @media only screen and (max-width: 999px) {
            display: block;
            right: 0px;
            span {
                width: 32px;
                height: 3px;
                background: #fff;
                display: block;
                margin-bottom: 5px
            };
        }
    }

}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    background-color: black;
}

p {
    text-align: justify;
}

