<div class="container">
    <ul class="cards">
        <li class="card">
            <img src="../../../../assets/images/img-gallery/Paropkari_Deewar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">परोपकारी दीवार</h5>
                <p class="card-text">कपड़े अगर आपके पास अधिक है तो यहाँ छोड़ जाएं ,जो आपकी जरुरत की है यहाँ से ले जाएँ।
                </p>
                <p><span>तारीख:</span> 15 जनवरी 2021</p>
                <div class="card-link-wrapper">
                    <a href="" class="card-link">पूरी जानकारी</a>
                </div>
            </div>
        </li>
        <li class="card">
            <img src="../../../../assets/images/img-gallery/Paropkari_Deewar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">परोपकारी दीवार</h5>
                <p class="card-text">कपड़े अगर आपके पास अधिक है तो यहाँ छोड़ जाएं ,जो आपकी जरुरत की है यहाँ से ले जाएँ।
                </p>
                <p><span>तारीख:</span> 15 जनवरी 2021</p>
                <div class="card-link-wrapper">
                    <a href="" class="card-link">पूरी जानकारी</a>
                </div>
            </div>
        </li>
        <li class="card">
            <img src="../../../../assets/images/img-gallery/Paropkari_Deewar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">परोपकारी दीवार</h5>
                <p class="card-text">कपड़े अगर आपके पास अधिक है तो यहाँ छोड़ जाएं ,जो आपकी जरुरत की है यहाँ से ले जाएँ।
                </p>
                <p><span>तारीख:</span> 15 जनवरी 2021</p>
                <div class="card-link-wrapper">
                    <a href="" class="card-link">पूरी जानकारी</a>
                </div>
            </div>
        </li>
        <li class="card">
            <img src="../../../../assets/images/img-gallery/Paropkari_Deewar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">परोपकारी दीवार</h5>
                <p class="card-text">कपड़े अगर आपके पास अधिक है तो यहाँ छोड़ जाएं ,जो आपकी जरुरत की है यहाँ से ले जाएँ।
                </p>
                <p><span>तारीख:</span> 15 जनवरी 2021</p>
                <div class="card-link-wrapper">
                    <a href="" class="card-link">पूरी जानकारी</a>
                </div>
            </div>
        </li>
        <li class="card">
            <img src="../../../../assets/images/img-gallery/Paropkari_Deewar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">परोपकारी दीवार</h5>
                <p class="card-text">कपड़े अगर आपके पास अधिक है तो यहाँ छोड़ जाएं ,जो आपकी जरुरत की है यहाँ से ले जाएँ।
                </p>
                <p><span>तारीख:</span> 15 जनवरी 2021</p>
                <div class="card-link-wrapper">
                    <a href="" class="card-link">पूरी जानकारी</a>
                </div>
            </div>
        </li>
        <li class="card">
            <img src="../../../../assets/images/img-gallery/Paropkari_Deewar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">परोपकारी दीवार</h5>
                <p class="card-text">कपड़े अगर आपके पास अधिक है तो यहाँ छोड़ जाएं ,जो आपकी जरुरत की है यहाँ से ले जाएँ।
                </p>
                <p><span>तारीख:</span> 15 जनवरी 2021</p>
                <div class="card-link-wrapper">
                    <a href="" class="card-link">पूरी जानकारी</a>
                </div>
            </div>
        </li>
    </ul>
</div>