<div class="container">

    <div class="card">
        <div class="card internal post">
            <div class="row">
                <!-- <div class="col-10"> -->
                <h5>Post Title</h5>
                <span>10 mins ago</span>
                <!-- </div> -->
                <!-- <div class="col-2 feedback">
                    <span class="like btn-primary">like Share</span>
                </div> -->
            </div>
            <hr>
            <div class="row">
                <div class="post">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quisquam reprehenderit id iste
                        recusandae iusto aperiam eius? Recusandae officia voluptatibus possimus repellendus, voluptates
                        sit, Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio officiis facere dolor minus,
                        veritatis enim veniam recusandae omnis voluptatum quisquam dicta necessitatibus tempore aut
                        iste, est error reiciendis, quia libero.
                        doloribus expedita laborum, accusantium aliquam eligendi?</p>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <div class="">
                    <h6>137 Like</h6>
                </div>
                <div class="">
                    Comments
                </div>
                <div class="">
                    Read full article
                </div>
            </div>
        </div>
        <div class="no-margin row">
            <div class="col-1"></div>
            <div class="card internal post-comment col-11">
                <div class="row">
                    <div class="col-6">
                        <label>Name</label>
                        <input>
                    </div>
                    <div class="col-6">
                        <label>Email</label>
                        <input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Comment</label>
                        <textarea></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment">
            <div class="row">
                <div class="col-1"></div>
                <div class="comments col-11">
                    <div class="d-flex justify-content-between">
                        <h6>@Name</h6>
                        <span>12-Jan'23 12:00:00 PM</span>
                    </div>
                    <hr>
                    <div class="comment-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nisi iste
                        magni officia deleniti quisquam tempore, delectus eveniet corporis sequi molestiae magnam ad
                        quod iusto aut omnis reiciendis velit nihil?
                    </div>
                </div>
            </div>
        </div>
        <div class="comment">
            <div class="row">
                <div class="col-1"></div>
                <div class="comments col-11">
                    <div class="d-flex justify-content-between">
                        <h6>@Name</h6>
                        <span>12-Jan'23 12:00:00 PM</span>
                    </div>
                    <hr>
                    <div class="comment-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nisi iste
                        magni officia deleniti quisquam tempore, delectus eveniet corporis sequi molestiae magnam ad
                        quod iusto aut omnis reiciendis velit nihil?
                    </div>
                </div>
            </div>
        </div>
        <div class="comment">
            <div class="row">
                <div class="col-1"></div>
                <div class="comments col-11">
                    <div class="d-flex justify-content-between">
                        <h6>@Name</h6>
                        <span>12-Jan'23 12:00:00 PM</span>
                    </div>
                    <hr>
                    <div class="comment-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nisi iste
                        magni officia deleniti quisquam tempore, delectus eveniet corporis sequi molestiae magnam ad
                        quod iusto aut omnis reiciendis velit nihil?
                    </div>
                </div>
            </div>
        </div>
        <div class="comment">
            <div class="row">
                <div class="col-1"></div>
                <div class="comments col-11">
                    <div class="d-flex justify-content-between">
                        <h6>@Name</h6>
                        <span>12-Jan'23 12:00:00 PM</span>
                    </div>
                    <hr>
                    <div class="comment-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nisi iste
                        magni officia deleniti quisquam tempore, delectus eveniet corporis sequi molestiae magnam ad
                        quod iusto aut omnis reiciendis velit nihil?
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>