<div class="container">
    <div class="row">
        <span class="col-lg-1 col-md-0 col-sm-0"></span>
        <span class="col-lg-10 col-md-12 col-sm-12 heading">
            <h2> विनियोग </h2>
        </span>
    </div>
    <div class="row">
        <!-- <span class="col-lg-1 col-md-0 col-sm-0"></span> -->
        <span>कोरोना महामारी के बीच जिंदगी और मानवता के सामने एक बड़ी चुनौती सामने आयी।
            सबकुछ होते हुए ,भरा पूरा परिवार के
            बीच भी लोग अपने आपको असुरक्षित महसूस कर रहे थे। खासकर उनलोगों के लिए जीवन बचाना सबसे बड़ी चुनौती थी जो अपने
            गाँव से दूर शहरों में रोजी रोटी के लिए जद्दोजेहद कर रहे थे। आपदा की इस मुश्किल चुनौती के बीच टेक्नोलॉजी और
            मानवीय संवेदनाएं सबसे बड़ी सुरक्षा कवच बनी। संवाद को लेकर बनी संकट को कम करने के लिए संवेदना के साथ तकनीकी के
            सहयोग से मुश्किल घडी में लोगों के पंहुचा जा सकता है और उन्हें भरोसा दिया जा सकता है कि "मैं हूँ ना "! यह इस
            अभियान का सुखद अनुभव था। सामाजिक संगठन लोक जिज्ञासा वेलफेयर सोसाइटी के साथ मिलकर आपदा प्रभावित लोगों के बीच
            पहुंचना और उन्हें मदद करने का हर के लिए यह अनोखा अनुभव था। समाज के बीच निरंतर काम करके देश में एक बेहतर
            माहौल बनाया जा सकता है और सरकार /संस्था के लिए हर इलाके में स्टेकहोल्डर्स का नेटवर्क खड़ा किया जा सकता है।
            समाज में अवेर्नेस लाकर आपदा को लेकर सचेत करना और सामजिक भागीदारी बढाकर अंतिम व्यक्ति तक सरकारी /गैर सरकारी
            योजनाओ से जोड़ा जा सकता है। इस कोशिश में लोक जिज्ञासा ने सोशल मीडिया कैंपेन के जरिये ,ग्रामीण समाज में
            संगोष्ठी करके लोगों के बीच सकारात्मक पहल के लिए प्रेरित करने का अनुभव लिया है। </span>
    </div>
</div>