<div class="container">
    <div class="content">
        <!-- <div class="left-side">
            <div class="address details">
                <i class="fas fa-map-marker-alt"></i>
                <div class="topic">Address</div>
                <div class="text-one">Surkhet, NP12</div>
                <div class="text-two">Birendranagar 06</div>
            </div>
            <div class="phone details">
                <i class="fas fa-phone-alt"></i>
                <div class="topic">Phone</div>
                <div class="text-one">+0098 9893 5647</div>
                <div class="text-two">+0096 3434 5678</div>
            </div>
            <div class="email details">
                <i class="fas fa-envelope"></i>
                <div class="topic">Email</div>
                <div class="text-one">codinglab@gmail.com</div>
                <div class="text-two">info.codinglab@gmail.com</div>
            </div>
        </div> -->
        <div class="right-side">
            <div class="topic-text">हमसे जुड़े</div>
            <p>इस मुहीम को आगे बढ़ने में हम आपके साथ और सुझाव की आवश्यकता है. हमसे जुड़े!</p>
            <form action="#">
                <div class="input-box">
                    <input type="text" placeholder="आपका नाम">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="अपना email अंकित करे">
                </div>
                <textarea class="input-box message-box">

                </textarea>
                <div class="button">
                    <input type="button" value="भेजें">
                </div>
            </form>
        </div>
    </div>
</div>