<div class="container">
    <ul class="cards">
        <ng-container *ngFor="let posts of fullPosts">
            <li class="row card" (click)="gotoFullView(posts.post_id)">
                <div *ngIf="posts.imageSrc && posts.imageSrc[0]" class="col-3 image">
                    <img src={{posts.imageSrc[0]}} alt="Post Image">
                </div>
                <div class="col-9 post">
                    <h5 class="card-title"> {{ posts.postTitle }} </h5>
                    <p class="card-text"> {{ posts.mainContent.slice(0, 400) +
                        '...' }} </p>
                    <!-- <p><span>तारीख:</span> {{ posts.postedTIme }} </p> -->
                    <div class="card-link-wrapper">
                        <a class="card-link" (click)="gotoFullView(posts.post_id)">पूरा पढ़ें</a>
                    </div>
                </div>
            </li>
        </ng-container>
    </ul>
</div>